<!doctype html>
<html lang="en">

<head>
    <title>BrainBoost MCQ - Improve Your Test Scores with Interactive Quizzes</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Boost your test scores with BrainBoost MCQ, an interactive web app featuring a wide range of multiple-choice quizzes on various subjects. Improve your knowledge and ace your exams with our engaging learning platform."
          name="description">
    <meta content="BrainBoost MCQ, interactive quizzes, test scores, learning platform, multiple-choice questions"
          name="keywords">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- dark mode -->


    <!-- custom css -->
    <link href="./css/myCss.css" rel="stylesheet">
    <!-- dark mode css -->
    <link href="./css/dark-mode.css" rel="stylesheet">
    <!-- custom js -->
    <script src="./js/myJs.js"></script>
    <!-- dark mode js-->
    <script defer src="./js/dark-mode-switch.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <!-- nav bar -->
            <div class="row justify-content-center">
                <!-- navbar -->
                <nav class="navbar navbar-expand-md navbar-light bg-light fixed-position-new mt-2">
                    <a class="navbar-brand d-lg-none" href="#home">Brain Boost</a>
                    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#navbarNav" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#our_works">Our Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#community_works">Community Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#social_media">Social Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact_us">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="question_template">Question Template</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tinymce"
                                   onclick="setActiveLink(event)">Rich Text Editor</a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <!-- dark mode button -->
                <div class=" custom-control custom-switch  custom_dark_mode_button navbar-light bg-light mb-5">
                    <input class="custom-control-input" id="darkSwitch" type="checkbox"/>
                    <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                </div>
            </div>
            <!-- Home Page -->
            <section class="pages bg-danger responsive_diagonal" id="home">

            </section>
            <!-- Our Works -->
            <section class="pages bg-dark" id="our_works">

            </section>
            <!-- Community Works -->
            <section class="pages bg-success" id="community_works">

            </section>
            <!-- About  -->
            <section class="pages bg-info" id="about">

            </section>
            <!-- Social media -->
            <section class="pages bg-success" id="social_media">

            </section>
            <!-- Contact us -->
            <section class="pages bg-secondary" id="contact_us">

            </section>
            <!-- footer -->
            <footer>

            </footer>

        </div>
        <div class="col-1">

        </div>
    </div>
</div>
</body>

</html>